# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_pd = "Resources/schools_complete.csv"
student_data_pd= "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_pd = pd.read_csv(school_data_pd)
student_data_pd = pd.read_csv(student_data_pd)

# Combine the data into a single dataset
new_school_data_pd = pd.merge(student_data_pd, school_data_pd, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
new_school_data_pd.columns
new_school_data_pd.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
schools_count = new_school_data_pd["school_name"].nunique()
number_of_students = new_school_data_pd["Student ID"].nunique()

total_budget = school_data_pd["budget"].sum()
average_math_score = new_school_data_pd["math_score"].mean()
average_reading_score = new_school_data_pd["reading_score"].mean()


new_school_data_pd["Passing"] =  (new_school_data_pd["math_score"] + new_school_data_pd["reading_score"] ) / 2
new_school_data_pd["Passing"] 



math_greater_than_70 = new_school_data_pd.loc[new_school_data_pd["math_score"] >= 70, ["math_score"]].count()
math_percent = math_greater_than_70/number_of_students
#print(math_percent.iloc[0])


reading_greater_than_70 = new_school_data_pd.loc[new_school_data_pd["reading_score"] >= 70, ["reading_score"]].count()
reading_percent = reading_greater_than_70/number_of_students
#print(reading_percent.iloc[0])

overall = (math_percent.iloc[0] + reading_percent.iloc[0]) / 2
#print(overall)

summary_pd = pd.DataFrame({
      "number_of_schools":[schools_count],
      "total_students":[number_of_students],
      "sum_of_budget":[total_budget],
      "math_score_average":[average_math_score],
      "reading_score_average":[average_reading_score],
      "overall_passing_rate":[overall],
      "percent_math":math_percent.iloc[0],
      "percent_reading":reading_percent.iloc[0]
})
summary_pd.head(15)

,number_of_schools,total_students,sum_of_budget,math_score_average,reading_score_average,overall_passing_rate,percent_math,percent_reading
0,15,39170,24649428,78.985371,81.87784,0.803932,0.749809,0.858055

In [8]:
schools_names = new_school_data_pd.set_index("school_name") 
schools_names.head()

schools_types = new_school_data_pd.groupby(["type"]).count()
print(schools_types)

all_students = new_school_data_pd["Student ID"].nunique()
print(all_students)
# groupby school name and then take a value count or sum of 
# total_school_budget = new_school_data_pd["budget"].sum()
# new_school_data_pd["per"] = (new_school_data_pd["budget"] / new_school_data_pd["Student ID"])
# average_math_score = new_school_data_pd["math_score"].mean()
# average_reading_score = new_school_data_pd["reading_score"].mean()
# new_school_data_pd["percent_math"] = new_school_data_pd["math_score"] / new_school_data_pd["math_score"].sum()
# new_school_data_pd["percent_reading"] = new_school_data_pd["reading_score"] / new_school_data_pd["reading_score"].sum()
# new_school_data_pd["Passing"] =  (new_school_data_pd["math_score"] + new_school_data_pd["reading_score"] ) / 2
# total_budget = new_school_data_pd.groupby("school_name").mean() ["budget"]
school_pd = pd.DataFrame({
    "name_of_school": [schools_names],
    "school_type":[schools_types],
    "students":[all_students],
#     "total_budget":[total_school_budget],
#     "per_student":[new_school_data_pd["per"]],
#     "math_score_average":[average_math_score],
#     "reading_score_average":[average_reading_score],
#     "math_percents":[new_school_data_pd["percent_math"]],
#     "reading_percents":[new_school_data_pd["percent_reading"]],
#     "average_passing_rate":[new_school_data_pd["Passing"]],
    
      })
school_pd.head(10)

TypeError: 'Index' object is not callable

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [5]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [6]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.